* {
    box-sizing: border-box;
}


.controls {
    margin-bottom: 1rem;
}


canvas {

    border: 1px solid teal;
    height: 80vh;
    width: 90vw;
    max-width: 90vw;
    margin: 0 auto;
    display: block;

}

.main-canvas-container {

    width: 100%;

}