* {
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --topbar-h: 50px;
}

body {
    margin: 0;
    padding: 0;
    background-color: snow;
    color: #333;
}

.hero {
    height: 100vh;
    width: 100%;
    padding: 1rem;
}

.container-cards {
    display: flex;
    gap: 2rem;
}

.card {
    border-radius: 10px;
    border: 2px solid currentColor;
    width: 400px;
    padding: 1rem;
}

.card h3 {
    margin-top: 0;
}

.card svg {
    width: 100%;
    border: 1px solid currentColor;
}

.card .container-mini-chart {
    position: relative;
}

.card p.label {
    position: absolute;
    margin: 0;
    transform: translateY(-100%);
    font-size: 12px;
    padding-left: 1px;
}

select {
    margin-bottom: .5rem;
    margin-top: .5rem;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 5px;
    padding: .5rem;
}

.bar {
    height: 1.5rem;
    background-color: green;
    transition: width .4s;
    width: 0;
}