* {
    box-sizing: border-box;
}

:root {
    --destaque: #633806;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F3EB;
    color: #1E1A12;
    font-family: 'Rawline', serif;
}

.largura-limitada {
    margin: 0 auto;
    max-width: 580px;
}

h1, h2, h3, h4 {
    font-family: 'Playfair';
    color: var(--destaque);
}

.chart-container {
    margin: 1rem auto;
    max-width: 700px;
    position: relative;
}

.mapa-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    /*border: 2px solid yellow;*/

}

.mapa-svg path {
    stroke: transparent;
    fill: transparent;

}

.mapa-svg path:hover {
    stroke: black;
    fill: gold;
}

.mapa-principal {
    width: 100%;
    height: 700px;
    /*border: 2px solid tomato;*/
}

.mapa-svg path:hover {
    fill: yellowgreen;
    cursor: pointer;
}

.chart-container[data-mode^="tercos"] .mapa-principal {
    display: none;
}

.chart-container[data-mode="tercos-pequeno"] .mapa-svg path[data-tamanho="pequeno"] {
    fill: dodgerblue;
}

.chart-container[data-mode="tercos-medio"] .mapa-svg path[data-tamanho="medio"] {
    fill: steelblue;
}

.chart-container[data-mode="tercos-grande"] .mapa-svg path[data-tamanho="grande"] {
    fill: navy;
}

/* abertura */

.abertura {

    width: 100%;
    height: 90vh;
    position: relative;

}

.abertura figure {
    display: block;
}

h1.titulo-principal {
    font-size: 5rem;
    margin: 0;
    position: absolute;
    bottom: 33%;
    left: 0;
    right: 0;
    text-align: center;

}

.canvas-abertura {
    width: 100%;
    height: 90vh;
    border: 2px solid var(--destaque);
}