* {
    box-sizing: border-box;
}

:root {
    --destaque: #633806;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F3EB;
    color: #1E1A12;
    font-family: 'Rawline', serif;
}

.largura-limitada {
    margin: 0 auto;
    max-width: 580px;
}

h1, h2, h3, h4 {
    font-family: 'Playfair';
    color: var(--destaque);
}

.chart-container {
    margin: 1rem auto;
    max-width: 700px;
    position: relative;
}

.mapa-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    /*border: 2px solid yellow;*/

}

.mapa-svg path {
    stroke: transparent;
    fill: transparent;
}

.mapa-principal {
    width: 100%;
    height: 700px;
    /*border: 2px solid tomato;*/
}

.mapa-svg path:hover {
    fill: yellowgreen;
    cursor: pointer;
}